extends ../common/base.i.pug
append head
	link(rel="stylesheet" href="options.css")
append body
	x-tabs
		x-tabs-nav(tabindex='0')
			x-tab.icon-text(active)
				svg.icon: use(href='../icons/photon-icons.svg#preferences')
				span(data-i18n='general')
		x-tabs-main(same-size)
			x-page(active)
				label.input-label
					input(type='checkbox' data-key='excludePinnedTabs')
					span(data-i18n='excludePinnedTabs')
				span.input-label
					label.contents-label
						input(type='checkbox' data-key='discardInactiveTabs')
						span(data-i18n='discardInactiveTabs')
					span
					select(data-key='discardInactiveTabsFavicon')
						option(value='' data-i18n='notLoadFavicon')
						option(value='load' data-i18n='loadFavicon')
				hr
				label.input-label
					span(data-i18n='theme')
					select(data-key='theme')
						option(value='auto' data-i18n='automatic')
						option(value='' data-i18n='light')
						option(value='dark' data-i18n='dark')
				hr
				a(target="_blank" href="/lib/LICENSE-3RD-PARTY.txt"
						data-i18n="license3rdParty")
	script(type='module' src='options.js')
