extensionName:
	message: 'Tabs to Bookmark Groups'
extensionDescription:
	message: 'Save the tabs to a bookmark group and switch between different groups.'
bookmarkMarkerTitle:
	message: '$1 (Marker)'
createGroup:
	message: 'Create group'
currentWindow:
	message: 'Current window'
groupName:
	message: 'Group name:'
saveCurrentWindowAs:
	message: 'Save current window as:'
groupIsLocked:
	message: 'This group is being used in another window.'
copy:
	message: 'Copy'
urlIsRestricted:
	message: 'Firefox does not allow extensions to open this type of addresses.'
general:
	message: 'General'
excludePinnedTabs:
	message: 'Exclude pinned tabs'
discardInactiveTabs:
	message: 'Unload inactive tabs after switching groups:'
enableBrowserRestoreSessionDesc:
	message: 'Please enable "Restore previous session" in Firefox options.'
license3rdParty:
	message: 'Third-Party Copyright Notices'
deleteGroup:
	message: 'Delete group'
confirmDeleteGroup:
	message: 'Delete this group?'
theme:
	message: 'Theme:'
automatic:
	message: 'Automatic'
light:
	message: 'Light'
dark:
	message: 'Dark'
notLoadFavicon:
	message: 'Do not load icons'
loadFavicon:
	message: 'Load icons'
moveToGroup:
	message: 'Move to bookmark group'
setColor:
	message: 'Set color'
'setColor.none':
	message: 'None'
'setColor.blue':
	message: 'Blue'
'setColor.red':
	message: 'Red'
'setColor.orange':
	message: 'Orange'
'setColor.purple':
	message: 'Purple'
'setColor.yellow':
	message: 'Yellow'
'setColor.green':
	message: 'Green'
groupN:
	message: 'Group $1'
autoSetColor:
	message: 'Automatically set a color for every new group'
browserActionTitle:
	message: '$1 - $2'
toolbarIcon:
	message: 'Toolbar icon:'
groupIcon:
	message: 'Group icon:'