@import '../common/common.css'

#url-row
	margin: 12px
	display: flex

#url
	font-size: 18px
	font-family: monospace
	flex: 1

@media screen and (min-width: 640px)
	#url-row
		width: 60%
		align-self: center

#restricted-desc
	margin: 12px
	align-self: center