extensionName:
	message: '标签页保存书签群组'
extensionDescription:
	message: '将标签页保存为书签群组，并在不同的组之间切换。'
bookmarkMarkerTitle:
	message: '$1（标记）'
createGroup:
	message: '新建群组'
currentWindow:
	message: '当前窗口'
groupName:
	message: '群组名称：'
unnamed:
	message: '未命名'
saveCurrentWindowAs:
	message: '将当前窗口保存为：'
groupIsLocked:
	message: '这个群组正在另一个窗口中使用。'
copy:
	message: '复制'
urlIsRestricted:
	message: '火狐不允许扩展打开这类网址。'
general:
	message: '常规'
excludePinnedTabs:
	message: '排除已固定标签页'
discardInactiveTabs:
	message: '切换群组后不载入非活动标签页：'
enableBrowserRestoreSessionDesc:
	message: '请在火狐选项中启用“恢复先前的浏览状态”。'
license3rdParty:
	message: '第三方版权声明'
deleteGroup:
	message: '删除群组'
confirmDeleteGroup:
	message: '删除这个群组？'
theme:
	message: '主题：'
automatic:
	message: '自动'
light:
	message: '亮'
dark:
	message: '暗'
notLoadFavicon:
	message: '不载入图标'
loadFavicon:
	message: '载入图标'